# Environment variables
.env
.env.local
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Remove logs
logs/

# Remove Google API credentials
credentials.json

# Remove the cache and logging files
upload_cache.json
upload_log.py
rectify_log_metadata.py
download_logs.py
ranking_progression.html

# Ignore stats files
pokemon_battle_stats.csv
pokemon_ranking_data.csv
pokemon-stats-viz.ipynb

# Ignore pickle
token.pickle

# Ignore test files
test.py

# Ignore images
Documentation/Images